<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Relationships
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-5 col-lg-5 ">
                                <img src="../../../../assets/static/illustrations/examine1.jpg" alt="thought,emotions" class="rounded fade-in">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2rem;
                                margin-bottom: 20px;">Improving relationships</h1>

                                <p>Problems in your relationships can be stressful. These problems can be either due to unhealthy communication patterns or due to difficulty in managing conflicts. There are three unhealthy patterns of communication that we need to be aware of; aggressive, passive and manipulative. A healthy person is assertive in his conversation. It is possible for people to get into conflicts from time to time when they live or work together. Being able to resolve conflicts healthily and constructively provides you with an opportunity for self-development and in improving relationships. </p>
                                <p> A relation cannot grow without resolving interpersonal conflicts. In order to maintain and foster your relations, you have to be capable of facing and managing conflicts. Unhealthy patterns of communication and inability to solve conflicts can spoil relations and cause stress, anger, anxiety and emotional problems.</p>
                            </div>

                        </div>
                    </div>


                    <ul class="pagination justify-content-end">
                        <!-- <li class=" page-prev ">
                            <a class="page-link" [routerLink]="''">
                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                            </a>
                        </li> -->
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../aggressive'">
                               
                                <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                            </a>
                        </li>
                    </ul>

                </div>


                
            </div>
            <br>


          <!--   <div class="row row-cards">

                <div class="col-12">
                    <div class="card ">
                        <div class="card-body">
                            <ul class="pagination ">
                                
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine2'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Thoughts</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
 -->

        </div>
    </div>