<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3 align-items-end">

            <div class="mb-3">
          <div class="col">
            <label class="form-label">Current Password</label>
                    <div class="input-group input-group-flat">
                          <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password" autocomplete="off">
                          <span class="input-group-text">
                            <a href="#" class="input-group-link">Show password</a>
                          </span>
                        </div>
          
          </div>
            </div>

            <div class="mb-3">
          <div class="col">
            <label class="form-label">New Password</label>
           

              <div class="input-group input-group-flat">
                          <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" autocomplete="off">
                          <span class="input-group-text">
                            <a href="#" class="input-group-link">Show password</a>
                          </span>
                        </div>
          </div>
            </div>

<div class="mb-3">
          <div class="col">
            <label class="form-label">Confirm New Password</label>
           
           <div class="input-group input-group-flat">
                          <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm new password" autocomplete="off">
                          <span class="input-group-text">
                            <a href="#" class="input-group-link">Show password</a>
                          </span>
                        </div>  
          </div>
            
        </div></div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>