

  
  input[type="text"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
   
  }
  
  
  
  
  
  input[type="text"]:hover {
    border-color: #007bff;
  }
  
  
  
  
  
  
  