<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Balanced Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/balanced2.svg" alt="Balancing" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                margin-bottom: 20px;">Tips for creating a balanced thought</h1>

                                <p>
                                    Unlike the cognitive errors that first come to your mind, the alternative thought is more likely to be realistic & balanced. Sometimes it helps if you ask a friend, family member or a neighbour to help you, at least at the start.
                                </p>
                                <h2>These questions can help you in thinking of alternative thoughts.</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <p class="mb-0">What would a family member or a friend think when in a similar situations?</p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0">What would have I thought if this had happened in the past, or when I was not so stressed?</p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0">What would I think if this happens in future when I am not so stressed?</p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0">If my friend was thinking as this what would have, I said?</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                
            </div>
            <br>
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../start'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Start</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../diary-week3'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Khatoon's Diary</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>