<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                      {{ 'index.Danger-Centre' | translate }}
                  </h2>
                  <div class="page-pretitle">
                      {{ 'index.Module' | translate }}
                  </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








     <!-- Page body -->
 <div class="page-body">
    <div class="container-xl">

        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-6 col-lg-6 ">
                <img src="../../../../assets/static/illustrations/Danger1.1.svg" alt="Danger1" class="rounded">
                
              </div>
              <div class="col">
                
                      <h2 style="font-size: 1.5rem;
                      margin-bottom: 20px;">Healthy eating habits can help with stress</h2>
                  
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><p class="sub-heading">Unhealthy habits </p></th>
                        <th><p class="sub-heading">Unhealthy diet</p></th>
                        <th><p class="sub-heading">Healthy diet </p></th>
                      </tr>
                    </thead>
                  <tbody>
                    <tr>
                    <td>
                      <p>Eating quickly</p>
                      <p>Not chewing</p>
                      <p>Eating too much</p>
                      <p>Drinking &amp; smoking</p>
                      <p>Starving</p>
                      <p>Processed food</p>
                      <p></p>
                      <p>Excessive tea &amp; coffee</p>
                    </td>
                    
                    <td>
                      <p>Spicy and oily food</p>
                      <p>Processed food</p>
                      <p>Stimulant drugs</p>
                      <p>High salt diet</p>
                      <p>Fatty diet</p>
                      <p>Red meat</p>
                      <p></p><p> 
                      </p><p>Carbohydrates</p><p> 
                    </p></td>
                    
                    <td>
                      <p>Eating vegetables </p>
                      <p>Eating fruits</p>
                      <p>Salads and raw vegetable</p>
                      <p>Eating beans and nuts</p>
                      <p>White meat</p>
                      <p>Smaller portions</p>
                      <p></p>
                      <p>Drinking plenty of water</p>
                    </td>
                     
                    </tr>
                  </tbody>
                </table>                
                </div>
              
            </div>
          </div>
        </div>
      </div>
    



<br>

    <div class="row row-cards">
        
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <ul class="pagination ">
                <li class="page-item page-prev">
                  <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                    <div class="page-item-subtitle">previous</div>
                    <div class="page-item-title">Resources</div>
                  </a>
                </li>
                <li class="page-item page-next">
                 <!--  <a class="page-link"  [routerLink]="''">
                    <div class="page-item-subtitle">next</div>
                    <div class="page-item-title">End Module</div>
                  </a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
