<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Examine Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/examine5.svg" alt="" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                margin-bottom: 20px;">Your thoughts control you</h1>
                                <p>Let us suppose you are in bed trying to fall asleep. You hear a bang. You can think of many different possibilities. If you think, there is a burglar in the house you might experience fear or stress. You might notice sweating or palpitation and you might call the police. If you think there is a ghost in the room, you will be scared and read some holy verses. If on the other hand you think there is a cat in the room, you might not be bothered and go to sleep. As you can see one situation can lead to different emotions, physical sensations and actions all depending on your thoughts. It is thus not the situation but what you think of it that determines how you are going to feel about it or even respond to it. You will begin by examining your thoughts. </p>
                               </div>

                        </div>
                    </div>
                </div>


                
            </div>
            <br>
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../examine4'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Recognise Emotions</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine6'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Khatoon's Diary</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>