<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.problem-solving' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">



            <div class="row row-cards">
                <div class="col-12" *ngIf="problems">
                    <div class="card card1 fade-in">
                        <div class="card-body p-0">
                            <p class="card-text" style="font-size: 2.5rem;">
                                {{ 'Problem_solving_5.paragraph1' | translate }}
                            </p>
                        </div>
                        <br> <br>
                        <div class="arrow" (click)="showProblem()">&#8595;</div>
                    </div>

                </div>

                <div class="col-sm-12 col-lg-12" *ngIf="problemsList">
                    <div class="card card1 fade-in">
                        <div class="card-body p-0 ">
                            <h1 class="card-title"> {{ 'Problem_solving_5.list-of-problems' | translate }}</h1>

                            <ul class="list-group list-group-flush" style="font-size: 1.5rem;">
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.prob1' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.prob2' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.prob3' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.prob4' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.prob5' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.prob6' | translate }}</li>
                            </ul>
                        </div><br> <br>
                        <div class="arrow" (click)="showNext()">&#8595;</div>
                    </div>

                </div>

                <div class="col-sm-12 col-lg-12" *ngIf="next">
                    <div class="card card1 fade-in">
                        <div class="card-body p-0">
                            <p class="card-text card-text1" style="font-size: 2.5rem;">
                                {{ 'Problem_solving_5.paragraph2' | translate }}
                            </p>
                        </div>
                        <div class="arrow" (click)="showNext1()">&#8595;</div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6" *ngIf="solutionList">
                    <div class="card card1 fade-in">
                        <div class="card-body p-0">
                            <h2 class="card-title">{{ 'Problem_solving_5.list-of-solution' | translate }} </h2>

                            <ul class="list-group list-group-flush " style="font-size: 1.5rem;">
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.sol1' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.sol2' | translate }}
                                </li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.sol3' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.sol4' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.sol5' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.sol6' | translate }}</li>
                            </ul>
                        </div>
                        <div class="arrow" (click)="showNext2()">&#8594;</div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6" *ngIf="chooseSolution">
                    <div class="card card1 fade-in">
                        <div class="card-body p-0">
                            <p class="card-text card-text1" style="font-size: 2.2rem;">
                                {{ 'Problem_solving_5.paragraph3' | translate }}</p>
                        </div>
                        <div class="arrow" (click)="showNext3()">&#8595;</div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-12" *ngIf="advDisAdv">
                    <div class="card card1 fade-in">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table " style="font-size: 1.5rem;">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Problem_solving_5.advantages' | translate }}</th>
                                            <th>{{ 'Problem_solving_5.disadvantages' | translate }}</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ 'Problem_solving_5.advant1' | translate }}</td>
                                            <td class="text-muted">
                                                {{ 'Problem_solving_5.dis1' | translate }}
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>{{ 'Problem_solving_5.advant2' | translate }}</td>
                                            <td class="text-muted">
                                                {{ 'Problem_solving_5.dis2' | translate }}
                                            </td>



                                        </tr>



                                        <tr>
                                            <td>{{ 'Problem_solving_5.advant3' | translate }}</td>
                                            <td class="text-muted">
                                                {{ 'Problem_solving_5.dis3' | translate }}
                                            </td>



                                        </tr>

                                        <tr>
                                            <td>{{ 'Problem_solving_5.advant4' | translate }}</td>
                                            <td class="text-muted">
                                                {{ 'Problem_solving_5.dis4' | translate }}
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>{{ 'Problem_solving_5.advant5' | translate }}</td>
                                            <td class="text-muted">

                                            </td>



                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br> <br><br> <br>
                        <div class="arrow" (click)="showNext4()">&#8595;</div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-12" *ngIf="appSol">
                    <div class="card card1 fade-in">
                        <div class="card-body p-0">
                            <h2 class="card-title">{{ 'Problem_solving_5.steps' | translate }}</h2>

                            <ul class="list-group list-group-flush" style="font-size: 1.8rem;">
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.step1' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.step2' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.step3' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.step4' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.step5' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.step6' | translate }}</li>
                                <li class="list-group-item list-group-item-action">{{ 'Problem_solving_5.step7' | translate }}</li>
                            </ul>
                        </div>

                        <prev-next-button [prev]="'../execute'" [next]="'../end'"></prev-next-button>
                        <!-- <ul class="pagination justify-content-end">
                            <li class=" page-prev ">
                                <a class="page-link" [routerLink]="'../execute'">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>
                                </a>
                            </li>
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../end'">

                                    <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>
                                </a>
                            </li>
                        </ul> -->

                    </div>
                </div>
            </div>
            <br> <br>

        </div>

    </div>

</div>

<br>