
.card-text {
    font-size: 1.3rem;
}

.card1 {
position: relative;
padding: 20px;
transition: transform 0.5s ease-in-out;
}

.card1.hidden {
transform: translateY(100%);
}


.arrow {
position: absolute;
bottom: 10px;
right: 10px;


transform: translateX(-50%);
cursor: pointer;
font-size: 3rem;
transition: transform 0.2s ease-in-out;

}
.arrow:hover {
transform: translate(-50%, -5px);
}
.arrow::before {

display: block;
}
.hidden {
display: none;
}

@media (max-width: 767px) {

}

@media (min-width: 992px) {
.card1 {
padding: 40px;
}
.card-text1{

padding: 35px;
}
}
@media only screen and (max-width: 576px) {
.card-text1{

padding: 50px;
}
}
