<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Problem Solving
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/problemsolving2.svg" alt="" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                    margin-bottom: 20px;">
                                    
                                    Identify & define the problems</h1>
                                    <p>It is important to remember some basic principles here. For example, you cannot deal with all your problems at the same time and it helps if you try to deal with these problems one by one.The first step in problem-solving is to make a list of possible problems. There is no harm in writing all the problems that come to your mind during this step. This can help you in prioritising the problem. You can then decide which problem should be dealt with first. Choose the easiest problem to tackle to start with. Think about problems that are solvable. For example, hot weather or rain is not a problem that you can solve. It is always a good idea to go through the problem-solving steps with a friend or a family member at least to start with.  </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../identifyproblems'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Problem solving</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../solutions'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Solutions</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>