<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Balanced Activities
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/problemsolving2.svg" alt="" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                    margin-bottom: 20px;">
                                    
                                    Activities and emotional wellbeing</h1>
                                    <p>
                                        There is a strong link between our activities & emotions. Sometimes people under stress reduce their activities. Similarly, low levels of activities can lead to emotional health problems. A reduction in activities leads to a variety of emotional problems, which causes further reduction in activity. This leads to a vicious cycle of low activities and negative emotions. Increased activities lead to release of happy hormones in brain. Increased activities also distract us from our cognitive errors. It is important that the vicious cycle of reduced activities is broken. Therefore, one way of dealing with stress is by increasing your activities. However, we need to be mindful of the balance between work related activities and activities that give us please. If you are active but still feel stressed, anxious or unhappy you might need to bring balance into your activities. </p>
                            </div>

                        </div>

                        <ul class="pagination justify-content-end">
                            <li class=" page-prev ">
                                <a class="page-link" [routerLink]="'../score'">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                </a>
                            </li>
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../writeactivities'">
                                   
                                    <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../intro'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Problem solving</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../solutions'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Solutions</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>