<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Balanced Activities
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/balanced2.svg" alt="" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                    margin-bottom: 20px;">
                                    
                                    The balanced activities</h1>
                                    <p>
                                        The first step towards treatment is to bring balance to the activities. You might find increasing pleasurable activities helpful as a first step. In others, however, reducing pleasurable activities such as watching TV or playing video games for many hours will be beneficial. Such activities can bring a remarkable change in your mood and reduce your stress. By tracking your activities you can discover how they affect your mood. Additionally, this diary can be used as a guide to see what changes in behavior might help you feel better.Write your activity diary every day. Gradually add activities. Look at the four types of activities we recommend on next page. Try to choose one activity from each of the four lists every week. </p>
                            </div>

                        </div>

                        <ul class="pagination justify-content-end">
                            <li class=" page-prev ">
                                <!-- <a class="page-link" [routerLink]="'../firststep2'"> When this page is cleared then we will link it here-->   
                                <a class="page-link" [routerLink]="'../writeactivities'">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                </a>
                            </li>
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../activitylist'">
                                   
                                    <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../intro'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Problem solving</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../solutions'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Solutions</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>