<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Examine Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/examine1.jpg" alt="thought,emotions" class="rounded fade-in">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                margin-bottom: 20px;">Thoughts, emotions and behaviours</h1>

                                <p>Your thoughts are connected with your actions, feelings & physical symptoms. Sometimes you become stressed, worried or unhappy not because of the situation, but because of what you think of the situation. However, we are often not aware of our thoughts. For example, the thought “I am hungry” often makes you go to the kitchen to find something to eat. Similarly, the thought “I am going to fail the exam” can make you anxious or stressed. Cognitive Behaviour Therapy helps you change your thoughts which cause stress.</p>
                                <p> However, the first step is to help you recognise the links between situations and your thoughts, emotions and behaviours. Once you can recognise your unhealthy thoughts, you can create a balanced thought which leads to a happy life.</p>
                            </div>

                        </div>
                    </div>
                </div>


                
            </div>
            <br>
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card ">
                        <div class="card-body">
                            <ul class="pagination ">
                                
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine2'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Thoughts</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>