<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Problem Solving
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/problemsolving1.svg" alt="Puzzles" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                    margin-bottom: 20px;">
                                    
                                    Problem-solving</h1>
                                    <p>

                                        Everyone faces problems from time to time. People often can solve problems quickly or with the help of friends. However, sometimes problems can be overwhelming, and people find it difficult to cope with them. The relationship between stress and problems is not a straightforward one. Sometimes people can become stressed because they had too many problems. But a stressed person might find even ordinary problems difficult to cope with.
                                    </p>
                                    
                                    <h2>People usually experience problems in these areas:</h2>
                                    <div class="list-group">
                                        
                                        <div class="list-group-item">
                                            <p class="mb-0">Family life (relationships, housing, children, debts etc.)</p>
                                        </div>
                                        <div class="list-group-item">
                                            <p class="mb-0">Social life</p>
                                        </div>
                                        <div class="list-group-item">
                                            <p class="mb-0">Work (problems at work, relationship with colleagues, stress at work, or even loss of work)	</p>
                                        </div>
                                    </div>
                                    
                            </div>

                        </div>
                        <ul class="pagination justify-content-end">
                            <!-- <li class=" page-prev ">
                                <a class="page-link" [routerLink]="'../score'">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                </a>
                            </li> -->
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../identifyproblems'">
                                   
                                    <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../score'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Score</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../identifyproblems'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Identify & define the problems</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>