.diary-entry {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.diary-entry-heading {
    margin-bottom: 10px;
    border-bottom: 2px solid #6c757d;
    display: inline-block;
}

.diary-entry-heading h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #6c757d;
}

.card-body h1 {
    font-size: 2.5rem;

    margin-bottom: 20px;
}