<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Danger Center
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








     <!-- Page body -->
 <div class="page-body">
    <div class="container-xl">

        <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-6 col-lg-6 ">
                <img src="../../../../assets/static/illustrations/sleep-advice.svg" alt="Sleep" class="rounded">
                
              </div>
              <div class="col">
                <h2 style="font-size: 1.5rem;
                      margin-bottom: 20px;">Healthy sleep environment consists of the following:</h2>
                <ul class="list-group list-group-flush " style="font-size: 1rem;">
                    <li class="list-group-item list-group-item-action">Comfortable bed</li>
                    <li class="list-group-item list-group-item-action">Temperature of the room (neither too hot nor too cold)
                    </li>
                    <li class="list-group-item list-group-item-action">Noise free environment</li>
                    <li class="list-group-item list-group-item-action">A room without excessive light</li>
                    
                  </ul>
                     
                         
                </div>
                <h2 style="font-size: 1.5rem;
                margin-bottom: 20px;">Tips for improving sleep:</h2>
            
            <div class="row align-items-center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p class="think-text"><strong>Cooling down time: </strong> Your brain needs some time to switch off. Some people find reading in bed helpful others might see that reading keep them awake. Try to find out what helps you.</p>
                  <p class="think-text"><strong>Physical problems: </strong>Physical problems can cause sleeplessness. Physical discomfort or pain can cause sleep disturbance.</p>
                  <p class="think-text"><strong>Sleep routine: </strong> Keeping a sleep routine is crucial. Going to bed and leaving it at regular times can be helpful for many people.</p>
                  <p class="think-text"><strong>Psychological problems: </strong> Sleep problems resolve once depression gets treated. Simple anxiety management techniques like breathing exercise etc. (mentioned earlier) can be very helpful.</p>
                  <p class="think-text"><strong>Tea, coffee and nicotine: </strong> Drinking tea or coffee before going to bed can make people feel alerted. Not drinking tea or coffee after 6 PM can help many people. Similarly, cutting down on cigarettes before going to bed can also be helpful.</p>
                  <p class="think-text"><strong>Day Naps:</strong> Day naps can lead to disturbed sleep. In fact, it has been suggested that sleeping in the morning hours might be linked to depression.</p>
              </div>
          </div>
              
              
            </div>
          </div>
        </div>
      </div>
    



<br>

    <div class="row row-cards">
        
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <ul class="pagination ">
                <li class="page-item page-prev">
                  <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                    <div class="page-item-subtitle">previous</div>
                    <div class="page-item-title">Resources</div>
                  </a>
                </li>
                <li class="page-item page-next">
                 <!--  <a class="page-link"  [routerLink]="''">
                    <div class="page-item-subtitle">next</div>
                    <div class="page-item-title">End Module</div>
                  </a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
