<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Examine Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                
                
                
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Now think of the situation that upset you recently and type in the boxes</h1>
                        <br><br>
                        <div class="row align-items-center">
                            <form method="post" class="" style="padding-top:3%;" data-form-type="">
                                <table class="right table">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%;">What happened? </th>
                                            <th style="width: 20%;">Your feeling</th>
                                            <th style="width: 20%;">Your thoughts</th>
                                            <th style="width: 20%;">Physical sensations</th>
                                            <th style="width: 20%;">Your action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <textarea name="happening" required="" class="form-control" rows="10" data-form-type="" [(ngModel)]="diary.happening"></textarea>
                                            </td>
                                            <td>
                                                <textarea name="feeling" required="" class="form-control" rows="10" data-form-type=""  [(ngModel)]="diary.feeling"></textarea>
                                            </td>	
                                            <td>
                                                <textarea name="thinking" required="" class="form-control" rows="10" data-form-type=""  [(ngModel)]="diary.thinking"></textarea>
                                            </td>
                                            <td>
                                                <textarea name="physical_sensations" required="" class="form-control" rows="10" data-form-type=""  [(ngModel)]="diary.physical_sensations"></textarea>
                                            </td>
                                            <td>
                                                <textarea name="do" required=""  rows="10" class="form-control"  data-form-type=""  [(ngModel)]="diary.do"></textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="text-end mt-3">
                                    <button type="button" (click)="addThoughtDairy()" class="btn btn-primary">Submit</button>
                                </div>
                              </form>
                              
                        </div>
                    </div>
                </div>
                



            </div>


            <br>

            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev">
                                    <a class="page-link" [routerLink]="'../examine6'"  tabindex="-1" aria-disabled="true">
                                        <div class="page-item-subtitle">previous</div>
                                        <div class="page-item-title">Khatoon's Diary</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <!-- <a class="page-link" [routerLink]="'../examine8'" >
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Circle of Thoughts</div>
                                    </a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>