<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Balanced Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img src="../../../../assets/static/illustrations/examine6.svg" alt="Khatoon Diary" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                margin-bottom: 20px;">Khatoon's Diary: Week 3</h1>
                                


                                <div class="diary-entry">
                                    <div class="diary-entry-heading">
                                        <h3>Situation</h3>
                                    </div>
                                    <p>I called my husband when he was at work. He said he is busy and will call me back after two hours.</p>
                                </div>
                                <div class="diary-entry">
                                    <div class="diary-entry-heading">
                                        <h3>Emotions</h3>
                                    </div>
                                    <ul>
                                        <li>Sad</li>
                                        <li>Tense</li>
                                        <li>Angry</li>
                                        <li>Feeling hurt</li>
                                    </ul>
                                </div>
                                <div class="diary-entry">
                                    <div class="diary-entry-heading">
                                        <h3>Thoughts</h3>
                                    </div>
                                    <ul>
                                        <li>“He does not love me anymore.”</li>
                                        <li>“I do not deserve to be with him.”</li>
                                        <li>“He might be with someone else.”</li>
                                        <li>“He always ignores me.”</li>
                                    </ul>
                                </div>
                                <div class="diary-entry">
                                    <div class="diary-entry-heading">
                                        <h3>Physical sensations</h3>
                                    </div>
                                    <ul>
                                        <li>Headache</li>
                                        <li>Chest pain</li>
                                        <li>Dizziness</li>
                                    </ul>
                            </div>
                            <div class="diary-entry">
                                <div class="diary-entry-heading">
                                    <h3>Evidence For Thoughts </h3>
                                </div>
                                <ul>
                                    <li>This Happend twice this month.</li>
                                </ul>
                        </div>
                        <div class="diary-entry">
                            <div class="diary-entry-heading">
                                <h3>Evidence Against Thoughts </h3>
                            </div>
                            <ul>
                                <li>Overall there is no change in his behaviour.</li>
                                <li>He must be busy in his office.</li>
                                <li>He bought two new dresses for me this month .</li>
                                <li> He regularly answers my phone.</li>

                            </ul>
                    </div>
                    <div class="diary-entry">
                        <div class="diary-entry-heading">
                            <h3>Alternative/Balanced Thoughts </h3>
                        </div>
                        <ul>
                            <li>OI was jumping to conclusions.</li>
                            <li>He does not ignore me.</li>
                            <li>He loves me a lot.</li>
                        </ul>
                </div>

                        </div>
                    </div>
                </div>


                
            </div>
            <br>
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../tips'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Tips</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../situation'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Situation</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>