<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Relationships
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            
                            <h1 style="font-size: 2.5rem;
                            margin-bottom: 20px; text-align: center;">Unhealthy patterns of communication</h1>

                            <div class="col-sm-12 col-md-5 col-lg-5 ">
                                <img src="../../../../assets/static/illustrations/relation2.svg" alt="thought,emotions" class="rounded fade-in">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2rem;
                                margin-bottom: 20px;">Aggressive people</h1>

                                <p>Aggressive people are loud, abusive and demanding. They usually don't care about the rights & needs of others. They attack, criticise & degrade others. They are unhappy and make others miserable too. They are loud and rude. Some people are a combination of passive & aggressive, i.e., they can be passive or aggressive depending on what benefits them. Aggressive people do not listen to others, frequently interrupt others and come across as intimidating. The impact of a pattern of aggressive communication is that these individuals become alienated from others. They alienate others, generate fear and hatred in others and always blame others instead of owning their issues, and thus are unable to mature. They are often loney and unhappy.</p>
                            </div>

                        </div>
                    </div>


                    <ul class="pagination justify-content-end">
                        <li class=" page-prev ">
                            <a class="page-link" [routerLink]="'../improve'">
                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                            </a>
                        </li>
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../passive'">
                               
                                <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                            </a>
                        </li>
                    </ul>

                </div>


                
            </div>
            <br>


          <!--   <div class="row row-cards">

                <div class="col-12">
                    <div class="card ">
                        <div class="card-body">
                            <ul class="pagination ">
                                
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine2'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Thoughts</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
 -->

        </div>
    </div>