<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Examine Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/examine2.svg" alt="Thoughts" class="rounded fade-in">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                margin-bottom: 20px;">What are thoughts?</h1>

                                <p>
                                    Thoughts are the views, ideas, mental images, words, or memories which come to your mind in response to what happens around you. Thoughts often take the form of self-talk or internal voices. Thoughts play an essential role in our lives. Your thoughts determine whether a situation will make you happy or unhappy. Your thoughts also lead to certain behaviours. Your thoughts can also cause physical sensations. For example, the thought “I will be fired from work” can lead to palpitations, sweating of palms and headache. Your thoughts can do so by activating your danger centre. In other words if your mind perceives an event as a threat it will activate the danger centre thus causing a stress reaction. Unhealthy thoughts about the world, self and the future often cause emotional distress.
                                </p>
                            </div>

                        </div>
                    </div>

                    <ul class="pagination justify-content-end">
                        <li class=" page-prev ">
                                          <a class="page-link" [routerLink]="'../examine1'">
                                              <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                          </a>
                                      </li>
                                      <li class=" page-next">
                                          <a class="page-link" [routerLink]="'../examine3'">
                                             
                                              <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                          </a>
                                      </li>
                                  </ul>
                        
                </div>


                
            </div>
            <br>


            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../examine1'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Thoughts, emotions and behaviours</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine3'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Emotions</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
    </div>