<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Challenge Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/challenge2.svg" alt="Thinking" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                margin-bottom: 20px;">Tips for challenging your thinking errors</h1>

                                <p>
                                    Some people find it difficult to evidence against their thoughts. So try to use the second dairy with a friend or family member. After some practice you will start thinking against your thoughts. From now on whenever you experience negative emotion, ask youself wheather it is a thinking error and think about the evidence that are in favor of or against it.
                                </p>
                                <h2>The following questions can help you in challenging your thoughts.</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <p class="mb-0">What am I thinking? Is this a thinking error?</p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0">Is there evidence for this thought?</p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0">What is the evidence against this thought?</p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0">What is the evidence against this thought?</p>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <prev-next-button [prev]="'../start'" [next]="'../diary-week2'" ></prev-next-button>

<!--                         <ul class="pagination justify-content-end">
                            <li class=" page-prev ">
                                <a class="page-link" [routerLink]="'../start'">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                </a>
                            </li>
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../diary-week2'">
                                   
                                    <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                </a>
                            </li>
                        </ul>
 -->
                    </div>
                </div>


                
            </div>
            <br>
            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../start'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Start</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../diary-week2'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Khatoon's Diary</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>