<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Balanced Activities
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/problemsolving2.svg" alt="" class="img-fluid"></div>
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/problemsolving2.svg" alt="" class="img-fluid"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/problemsolving2.svg" alt="" class="img-fluid"></div>
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/problemsolving2.svg" alt="" class="img-fluid"></div>
                                </div>
                                
                            </div>
                            
                            <div class=" col-sm-12 col-md-6 col-lg-6">

                                <div class="card-body">
                                    <h2 class="card-title">Work Related Activities</h2>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <ul class="list-group list-group-flush" style="font-size: 0.9rem;">
                                          <li class="list-group-item list-group-item-action">Dishwashing</li>
                                          <li class="list-group-item list-group-item-action">Clean the house</li>
                                          <li class="list-group-item list-group-item-action">Work in the fields</li>
                                          <li class="list-group-item list-group-item-action">Look after pets</li>
                                          <li class="list-group-item list-group-item-action">Do some educational course</li>
                                          <li class="list-group-item list-group-item-action">Buy a book</li>
                                          <li class="list-group-item list-group-item-action">Spend time in his/her shop</li>
                                        </ul>
                                      </div>
                                      <div class="col-md-6">
                                        <ul class="list-group list-group-flush" style="font-size: 0.9rem;">
                                          <li class="list-group-item list-group-item-action">Ironing clothes</li>
                                          <li class="list-group-item list-group-item-action">Look after children</li>
                                          <li class="list-group-item list-group-item-action">Go to work/job</li>
                                          <li class="list-group-item list-group-item-action">Go for the lecture</li>
                                         
                                          <li class="list-group-item list-group-item-action">Identify aims &amp; do planning for it</li>
                                          <li class="list-group-item list-group-item-action">Milk your cow</li>
                                          <li class="list-group-item list-group-item-action">Do make-up (as a profession?) if not please move to creative activities</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  
                                  
                            </div>

                        </div>
<br><br>
                        <ul class="pagination justify-content-end">
                            <!-- <li class="page-item page-prev">
                              <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                </a>
                            </li> --> 
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../activitylist'">
                                   
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../intro'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Problem solving</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../solutions'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Solutions</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>