<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Balanced Activities
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-lg-7 ">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/balanced-creative1.svg" alt="" class="img-fluid"></div>
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/balanced-creative2.svg" alt="" class="img-fluid"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/balanced-creative3.svg" alt="" class="img-fluid"></div>
                                    <div class="col-sm-6 col-md-6 col-lg-6"><img src="../../../../assets/static/illustrations/balanced-creative4.svg" alt="" class="img-fluid"></div>
                                </div>
                                
                            </div>
                            
                            <div class=" col-lg-4 col-md-12 col-sm-12 col-xs-12">

                                <div class="card-body ">
                                    <h2 class="card-title">
                                        Creative Activities </h2>
                      
                                    <ul class="list-group list-group-flush" style="font-size: 1.rem;">
                                      <li class="list-group-item list-group-item-action">Draw a picture</li>
                                      <li class="list-group-item list-group-item-action">Clean your car or bike</li>
                                      <li class="list-group-item list-group-item-action">Decorate your room</li>
                                      <li class="list-group-item list-group-item-action">Play some musical Instrument</li>
                                      <li class="list-group-item list-group-item-action">Sewing & Stitching</li>
                                      <li class="list-group-item list-group-item-action">Diary writing</li>
                                      <li class="list-group-item list-group-item-action">Sing a song</li>
                                      <li class="list-group-item list-group-item-action">Pluck & arrange flowers</li>
                                      <li class="list-group-item list-group-item-action">Dancing</li>
                                      <li class="list-group-item list-group-item-action">Arrange/change setting of furniture</li>
                                    </ul>
                                  </div>
                            </div>

                        </div>
<br><br>
                        <ul class="pagination justify-content-end">
                            <!-- <li class="page-item page-prev">
                              <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                </a>
                            </li> --> 
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../activitylist'">
                                   
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../intro'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Problem solving</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../solutions'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Solutions</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>