<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.relationship' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">

                            <h1 style="font-size: 2.5rem;
                            margin-bottom: 20px; text-align: center;">{{ 'relation_1.heading_main' | translate }}<span style="display: none;">.</span></h1>

                            <div class="col-sm-12 col-md-5 col-lg-5 ">
                                <img-d [src]="'/relation4.svg'" [alt]="'thought,emotions'" [class]="'rounded fade-in'"></img-d>
                            </div>
                            <div class="col" #textToSpeech>
                                <app-text-to-speech [html]="html" *ngIf="isShow"></app-text-to-speech>
                                <br>
                                <br>

                                <h1 style="font-size: 2rem;
                                margin-bottom: 20px;">{{ 'relation_1d.heading' | translate }}<span style="display: none;">.</span></h1>

                                <p>
                                    {{ 'relation_1d.paragraph' | translate }}
                                </p>
                            </div>

                        </div>
                    </div>

                    <prev-next-button [prev]="'../passive'" [next]="'../assertive'"></prev-next-button>
                    <!--  <ul class="pagination justify-content-end">
                        <li class=" page-prev ">
                            <a class="page-link" [routerLink]="'../passive'">
                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                            </a>
                        </li>
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../assertive'">
                               
                                <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                            </a>
                        </li>
                    </ul>
 -->
                </div>



            </div>
            <br>


            <!--   <div class="row row-cards">

                <div class="col-12">
                    <div class="card ">
                        <div class="card-body">
                            <ul class="pagination ">
                                
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine2'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Thoughts</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
 -->

        </div>
    </div>