<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.gm' | translate }}, {{currentUser.first_name}}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.gmmsg' | translate }}
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">

                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <a [routerLink]="'/stress'" class="card card-link card-link-pop">
                        <div class="card-body " style="background-color: #808AFF;  border-radius: 4px 4px 0 0;" *ngIf="lang == 'ch'">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/stress_c.svg" height="210px" width="100%" alt=""> -->
                            <svg height="13rem" width="100%">
                                <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite1.svg#stress_c"></use>
                            </svg>
                        </div>
                        <div class="card-body " style="background-color: #808AFF;  border-radius: 4px 4px 0 0;" *ngIf="lang != 'ch'">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/stress_c.svg" height="210px" width="100%" alt=""> -->
                            <svg height="13rem" width="100%">
                                <use xlink:href="../../../assets/static/illustrations/dashboard/sprite1.svg#stress_c"></use>
                            </svg>
                        </div>
                        <div class="card-body">
                            <div class="card-title mb-1">{{ 'index.stress' | translate }} </div>
                            <div class="text-muted">{{ 'index.Module' | translate }} | <span class="module-time"> 10 min</span></div>
                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus1?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus1?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="0% Complete">
                                                <span class="visually-hidden">{{moduleStatus1?.completed}}% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <a [routerLink]="module2 || moduleStatus2?.status ? '/dangercenter/scale' :''" (click)="openModal(moduleStatus2?.status)" class="card card-link card-link-pop">
                        <div class="card-body" style="background-color: #FA6E5A; border-radius: 4px 4px 0 0;">
                            <!-- <img src="../../../assets/static/illustrations//dashboard/danger-center-main_c.svg" height="210px" width="100%" alt=""> -->

                            <svg height="13rem" width="100%">
                <use xlink:href="../../../assets/static/illustrations/dashboard/sprite2.svg#danger-center-main" *ngIf="lang !='ch'"></use>
                 <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite3.svg#danger-center-main" *ngIf="lang =='ch'"></use>
              </svg>


                        </div>
                        <div class="card-body ">
                            <div class="col-lg-10">
                                <div class="card-title mb-1">{{ 'index.Danger-Centre' | translate }} </div>
                                <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 20 min</span></div>
                                <svg *ngIf="!module2 && !moduleStatus2?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
              </svg>
                            </div>

                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus2?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus2?.completed" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" aria-label="0% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>


                <!-- Locked Module has "card-cover-blurred" class -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">

                    <a [routerLink]="module3 || moduleStatus3?.status? '/examinethoughts/danger-center-scale':''" (click)="openModal(moduleStatus3?.status)" class="card card-link card-link-pop">
                        <div class="card-body" style="background-color: #FEB18F; border-radius: 4px 4px 0 0;">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/examine-thoughts-main_c.svg" height="210px" width="100%" alt=""> -->

                            <svg height="13rem" width="100%">
                  <use xlink:href="../../../assets/static/illustrations/dashboard/sprite3.svg#examine-thoughts-main" *ngIf="lang !='ch'"></use>
                   <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite3.svg#examine-thoughts-main" *ngIf="lang =='ch'"></use>
                </svg>

                        </div>
                        <div class="card-body ">
                            <div class="card-title mb-1">{{ 'index.examine-thoughts' | translate }} </div>
                            <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 15 min</span></div>
                            <svg *ngIf="!module3 && !moduleStatus3?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
              </svg>

                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus3?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus3?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="5% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>


                <!-- Locked Module has "card-cover-blurred" class -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">

                    <a [routerLink]="module4 || moduleStatus4?.status? '/challengethoughts/scale':''" (click)="openModal(moduleStatus4?.status)" class="card card-link card-link-pop">
                        <div class="card-body text-center" style="background-color: #D9A5B5; border-radius: 4px 4px 0 0;">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/challenge-thoughts-main.svg" height="210px" width="100%" alt=""> -->
                            <svg height="13rem" width="100%">
                <use xlink:href="../../../assets/static/illustrations/dashboard/sprite3.svg#challenge-thoughts-main" *ngIf="lang !='ch'"></use>
                 <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite3.svg#challenge-thoughts-main" *ngIf="lang =='ch'"></use>
              </svg>


                        </div>
                        <div class="card-body ">
                            <div class="card-title mb-1">{{ 'index.Challengethoughts' | translate }} </div>
                            <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 10 min</span></div>
                            <svg *ngIf="!module4 && !moduleStatus4?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
              </svg>

                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus4?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus4?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="5% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>


                <!-- Locked Module has "card-cover-blurred" class -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <a [routerLink]="module5 || moduleStatus5?.status? '/balancethought':''" (click)="openModal(moduleStatus5?.status)" class="card card-link card-link-pop">
                        <div class="card-body text-center" [style]="lang == 'ch' ? 'background-color: #c57378; border-radius: 4px 4px 0 0;' :'background-color: #7583CA; border-radius: 4px 4px 0 0;'">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/balanced_thoughts_c.svg" height="210px" width="100%" alt=""> -->
                            <svg height="13rem" width="100%">
                <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite1.svg#balanced_thoughts_c" *ngIf="lang =='ch'"></use>
                 <use xlink:href="../../../assets/static/illustrations/dashboard/sprite1.svg#balanced_thoughts_c" *ngIf="lang !='ch'"></use>
              </svg>


                        </div>
                        <div class="card-body ">
                            <div class="card-title mb-1">{{ 'index.balanced-thoughts' | translate }}</div>

                            <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 10 min</span></div>
                            <svg *ngIf="!module5 && !moduleStatus5?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
              </svg>

                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus5?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus5?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="5% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>




                <!-- Locked Module has "card-cover-blurred" class -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <a [routerLink]="module6 || moduleStatus6?.status? '/problemsolving':''" (click)="openModal(moduleStatus6?.status)" class="card card-link card-link-pop">
                        <div class="card-body text-center" style="background-color: #D9A5B5; border-radius: 4px 4px 0 0;">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/problem_solving_c.svg" height="210px" width="100%" alt=""> -->
                            <svg height="13rem" width="100%">
                <use xlink:href="../../../assets/static/illustrations/dashboard/sprite1.svg#problem_solving_c" *ngIf="lang !='ch'"></use>
                 <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite1.svg#problem_solving_c" *ngIf="lang =='ch'"></use>
              </svg>

                        </div>
                        <div class="card-body ">
                            <div class="card-title mb-1">{{ 'index.problem-solving' | translate }}</div>

                            <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 10 min</span></div>
                            <svg *ngIf="!module6 && !moduleStatus6?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
              </svg>

                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus6?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus6?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="5% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>


                <!-- Locked Module has "card-cover-blurred" class -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <a [routerLink]="module7 || moduleStatus7?.status? '/balancedActivities':''" (click)="openModal(moduleStatus7?.status)" class="card card-link card-link-pop">
                        <div class="card-body" style="background-color: #FA6E5A; border-radius: 4px 4px 0 0;">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/balanced_activities_c.svg" height="210px" width="100%" alt=""> -->

                            <svg height="13rem" width="100%">
                <use xlink:href="../../../assets/static/illustrations/dashboard/sprite2.svg#balanced_activities_c" *ngIf="lang !='ch'"></use>
                 <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite2.svg#balanced_activities_c" *ngIf="lang =='ch'"></use>
              </svg>

                        </div>
                        <div class="card-body ">
                            <div class="card-title mb-1">{{ 'index.balanced-activities' | translate }}</div>
                            <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 20 min</span></div>
                            <svg *ngIf="!module7 && !moduleStatus7?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                            </svg>


                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus7?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus7?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="5% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>


                <!-- Locked Module has "card-cover-blurred" class -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <a [routerLink]="module8 || moduleStatus8?.status? '/relationhips':''" (click)="openModal(moduleStatus8?.status)" class="card card-link card-link-pop">
                        <div class="card-body text-center" style="background-color: #FFCF86; border-radius: 4px 4px 0 0;">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/relationships_c.svg" height="210px" width="100%" alt=""> -->
                            <svg height="13rem" width="100%">
                <use xlink:href="../../../assets/static/illustrations/dashboard/sprite2.svg#relationships_c" *ngIf="lang !='ch'"></use>
                 <use xlink:href="../../../assets/static/illustrations/Ch/dashboard/sprite2.svg#relationships_c" *ngIf="lang =='ch'"></use>
              </svg>

                        </div>
                        <div class="card-body ">
                            <div class="card-title mb-1"> {{ 'index.relationship' | translate }}</div>
                            <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 10 min</span></div>
                            <svg *ngIf="!module8 && !moduleStatus8?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
              </svg>

                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus8?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus8?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="5% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>

                <!-- Locked Module has "card-cover-blurred" class -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <a [routerLink]="module9 || moduleStatus9?.status? '/stayingwell':''" (click)="openModal(moduleStatus9?.status)" class="card card-link card-link-pop">
                        <div class="card-body" style="background-color: #FEB18F; border-radius: 4px 4px 0 0;">
                            <!-- <img src="../../../assets/static/illustrations/dashboard/staying_well_c.svg" height="210px" width="100%" alt=""> -->

                            <svg height="13rem" width="100%">
                                <use xlink:href="../../../assets/static/illustrations/dashboard/sprite2.svg#staying_well_c"></use>
                            </svg>


                        </div>
                        <div class="card-body ">
                            <div class="card-title mb-1">{{ 'index.staying-well' | translate }}</div>
                            <div class="text-muted">{{ 'index.Module' | translate }} &nbsp; | &nbsp; <span class="module-time"> 5 min</span></div>
                            <svg *ngIf="!module9 && !moduleStatus9?.status" style="position: absolute;right: 30; top: 50;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                            </svg>

                            <div class="mt-3">
                                <div class="row g-2 align-items-center">
                                    <div class="col-auto">
                                        {{moduleStatus9?.completed}}%
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar" [style.width.%]="moduleStatus9?.completed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="5% Complete">
                                                <span class="visually-hidden">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>


                <div class="col-md-12 col-lg-12">
                    <div class="card text-center">
                        <div class="card-body rounded" style="  background-color: #333242; padding: 45px 0 45px 0 ">

                            <div class="row g-2 align-items-center">

                                <div class="col-md-6 col-lg-6">
                                    <h1 class="">
                                        <span style="color:#e6e7e9">{{ 'index.my-healthy-thoughts' | translate }}</span>
                                    </h1>
                                    <div class="text-muted-diary">
                                        <h3>
                                            <em style="color:#c1c2c3"> {{ 'index.journal-writing' | translate }}</em>
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <a [routerLink]="'/healthythoughts'" class="btn btn-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18">
                                            </path>
                                            <path d="M13 8l2 0"></path>
                                            <path d="M13 12l2 0"></path>
                                            </svg> {{ 'index.my-healthy-thoughts' | translate }}
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="d-flex align-items-baseline">
                                <div class="h1 mb-0 me-2">{{ 'index.weekly-progress' | translate }}</div>
                                <div class="me-auto">
                                    <!-- <span class="text-green d-inline-flex align-items-center lh-1">
                    8% Download SVG icon from http://tabler-icons.io/i/trending-up -->
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg> -->
                                    <!-- </span> -->
                                </div>
                            </div>
                        </div>
                        <div>
                            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"></apx-chart>
                        </div>
                    </div>
                </div>



                <div class="col-12">
                    <div class="card card-md">
                        <div class="card-stamp card-stamp-lg">
                            <div class="card-stamp-icon bg-primary">
                                <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7" /><path d="M10 10l.01 0" /><path d="M14 10l.01 0" /><path d="M10 14a3.5 3.5 0 0 0 4 0" /></svg>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-10">
                                    <h3 class="h1">{{ 'index.Downloads' | translate }}</h3>
                                    <div class="markdown text-muted">
                                        {{ 'index.Downloads-heading2' | translate }}

                                    </div>
                                    <div class="mt-3">
                                        <a [routerLink]="'/downloads'" class="btn btn-primary" rel="noopener">{{ 'index.Downloads1' | translate }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>

    <locked-modal [isShow]="isShow" (isShowEvent)="setShowValue($event)"></locked-modal>