<div class="col">
    <h2 class="page-title">
        Frequently Asked Questions
    </h2>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">

        <div class="col-lg-12">
            <div class="card fade-in">
                <div class="card-body">
                    <div class="space-y-4">
                        <div>
                            <h2 class="mb-3">1. Introduction</h2>
                            <div id="faq-1" class="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-1-1">What is 123cbt?</button>
                                    </div>
                                    <div id="faq-1-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-1">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>123cbt is a cognitive behavioral therapy (CBT) app that helps users manage their mental health by providing evidence-based techniques and strategies.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-2">How does the app work?</button>
                                    </div>
                                    <div id="faq-1-2" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-1">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>The app offers a range of interactive tools, exercises, and activities that are designed to help users identify negative thoughts, feelings, and behaviors, and learn how to replace them with more positive
                                                    and productive ones. Users can track their progress, set goals, and get personalized feedback and support from the app.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <h2 class="mb-3">2. Target Audience</h2>
                            <div id="faq-2" class="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-2-1">Who is 123cbt for?</button>
                                    </div>
                                    <div id="faq-2-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-2">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>123cbt is designed for anyone who wants to improve their mental health and well-being, including those who may be struggling with anxiety, depression, stress, or other mental health issues.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div>
                            <h2 class="mb-3">3. Integration with Therapy</h2>
                            <div id="faq-3" class="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-3-1">Is 123cbt a substitute for therapy?</button>
                                    </div>
                                    <div id="faq-3-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-3">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>No, 123cbt is not a substitute for professional therapy or medical treatment. It is intended to be used as a supplement to traditional therapy or as a self-help tool.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <div>
                            <h2 class="mb-3">4. Security and Privacy</h2>
                            <div id="faq-3" class="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-3-1">Is my data private and secure?</button>
                                    </div>
                                    <div id="faq-3-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-3">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Yes, we take your privacy and security seriously. We use industry-standard encryption and security measures to protect your data, and we do not share your personal information with third parties. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>




        <br>

        <div class="row row-cards">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <prev-next-button  [next]="''" ></prev-next-button>
                        <!-- <ul class="pagination ">
                            <li class="page-item page-prev">
 <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                        <div class="page-item-subtitle">previous</div>
                        <div class="page-item-title">Resources</div>
                      </a> 
                            </li>      <li class="page-item page-next">
                                <a class="page-link" [routerLink]="url">
                                    <div class="page-item-subtitle">next</div>
                                    <div class="page-item-title">Go to the Dashboard</div>
                                </a>
                            </li>
</ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>