<ul class="pagination justify-content-end">
    <li class=" page-prev ">
        <a class="page-link" [routerLink]="prev">
            <i [ngClass]="dir == 'rtl' ?'ti ti-circle-arrow-right-filled':'ti ti-circle-arrow-left-filled'" style="font-size: 5em; color: #5190B7;"></i>
        </a>
    </li>
    <li class=" page-next">
        <a class="page-link" [routerLink]="next">

            <i [ngClass]="dir == 'rtl' ?'ti ti-circle-arrow-left-filled':'ti ti-circle-arrow-right-filled'" style="font-size: 5em; color: #5190B7;"></i>
        </a>
    </li>
</ul>