<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.balanced-thoughts' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <h1 class="text-center mb-4">{{ 'Examining_your_thoughts6b.evidence-for-thoughts' | translate }}<span style="display: none;">.</span></h1>
                        <h2 class="text-center">{{ 'Examining_your_thoughts6b.evidence-against-thoughts' | translate }} :<span style="font-size:1.6rem; color:#007bff;"><strong>{{thoughts}}</strong></span></h2>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="evidence-for">{{ 'Examining_your_thoughts6b.for' | translate }}</label>
                                    <textarea id="evidence-for" class="form-control" rows="5" placeholder="{{ 'Examining_your_thoughts6b.dynamic-data1' | translate }}" [(ngModel)]="evidence.for"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="evidence-against">{{ 'Examining_your_thoughts6b.against' | translate }}</label>
                                    <textarea id="evidence-against" class="form-control" placeholder="{{ 'Examining_your_thoughts6b.dynamic-data2' | translate }}" rows="5" [(ngModel)]="evidence.against"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-large" (click)="showModal()">{{ 'submit' | translate }}</button>

                        </div>





                        <!--   <div class="modal modal-blur fade show" id="modal-large" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Evidence for & Evidence Against</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h2 class="mb-4">Your thought: [thought]</h2>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h4 class="mb-3">Evidence For</h4>
                                            <ul class="evidence-list" id="evidence-for-display">
                                                
                                                <li>Evidence for 1</li>
                                                <li>Evidence for 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <h4 class="mb-3">Evidence Against</h4>
                                            <ul class="evidence-list" id="evidence-against-display">
                                                
                                                <li>Evidence Against 1</li>
                                                <li>Evidence Against 2</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                                </div>
                              </div>
                            </div>
                          </div> -->



                    </div>

                    <prev-next-button [prev]="'../circle'" [next]="'../alternative'"></prev-next-button>

                    <!--                     <ul class="pagination justify-content-end">
                        <li class=" page-prev ">
                            <a class="page-link" [routerLink]="'../circle'">
                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>
                            </a>
                        </li>
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../alternative'">

                                <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>
                            </a>
                        </li>
                    </ul>
 -->

                </div>
            </div>


            <br>

            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../circle'"  tabindex="-1" aria-disabled="true">
                                        <div class="page-item-subtitle">previous</div>
                                        <div class="page-item-title">Circle of Thoughts</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../alternative'" >
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Alternative Thought</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="modal modal-blur bg-primary-lt fade show" style="background-color: rgba(var(--tblr-primary-rgb),var(--tblr-bg-opacity))!important;" *ngIf="isShowModal" id="modal-large" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Evidence for & Evidence Against</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <h2 class="mb-4">Your thought: <span style="font-size:1.6rem; color:#0278f7;">{{thoughts}}</span></h2>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h4 class="mb-3">Evidence For</h4>
                            <ul class="evidence-list" id="evidence-for-display" *ngFor="let item of for">

                                <li>{{item}}</li>

                            </ul>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="mb-3">Evidence Against</h4>
                            <ul class="evidence-list" id="evidence-against-display" *ngFor="let item of against">

                                <li>{{item}}</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">Ok</button>
                </div>
            </div>
        </div>
    </div>