<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.stress' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-4 col-lg-4 ">
                                <img-directive [src]="'/Stress_module6.svg'" [alt]="'Danger Center'"></img-directive>
                                <!-- <img src="../../../../assets/static/illustrations/Stress_module6.svg" alt="Danger Center" class=" rounded"> -->
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                margin-bottom: 20px;">{{ 'story_begin3.heading' | translate }}</h1>

                                <p>{{ 'story_begin3.story-para2' | translate }}</p>
                            </div>
                        </div>
                        <prev-next-button [next]="''" [prev]="'../khatoon-bibi'"></prev-next-button>


                    </div>
                </div>






                <br>

                <!-- <div class="row row-cards">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <ul class="pagination ">
                                    <li class="page-item page-prev ">
                                        <a class="page-link" [routerLink]="'../khatoon-bibi'" tabindex="-1"
                                            aria-disabled="true">
                                            <div class="page-item-subtitle">previous</div>
                                            <div class="page-item-title">Khatoon Bibi</div>
                                        </a>
                                    </li>
                                    <li class="page-item page-next">
                                        <a class="page-link" href=".">
                                            <div class="page-item-subtitle">next</div>
                                            <div class="page-item-title">Next Module</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                 -->
            </div>
        </div>