

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Examine Thoughts
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <h1 class="text-center">What are the thinking errors?</h1>
                        <br><br>
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fade-in-3s">
                                <p class="think-text"><strong>Jumping to conclusions:</strong> The person makes an assumption with no or very little evidence to support it, e.g., you see your husband talking to someone on the phone and you think he is having an affair.</p>
                                <p class="think-text"><strong>Selective abstraction:</strong> The person focuses on a detail taken out of context, ignoring the bigger picture, e.g., thinking you are useless when the boss tells you to improve your computer skills.</p>
                                <p class="think-text"><strong>Overgeneralization:</strong> If it is true for one thing, it should be true for all things e.g because you failed in one test you are a total failure.</p>
                                <p class="think-text"><strong>Magnification or minimization:</strong> Reducing the importance of positive information, or expanding on negative information (making mountains out of molehills or molehills out of the mountain!)</p>
                                <p class="think-text"><strong>Personalisation:</strong> You assume responsibility for everything that goes wrong even when there is no evidence for it, e.g., your blame yourself because your colleague resigned from his job.</p>
                                <p class="think-text"><strong>All or nothing thinking:</strong> Everything is seen as on one extreme, good or bad, black or white with no shades of grey, e.g., If you don't pass all your papers with 100% marks you are a failure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


            <br>

            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../examine8'"  tabindex="-1" aria-disabled="true">
                                        <div class="page-item-subtitle">previous</div>
                                        <div class="page-item-title">Situation</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine10'" >
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Write Your Thought Diary</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>