

.card-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--tblr-card-spacer-y) var(--tblr-card-spacer-x);
    color: var(--tblr-card-color);
}
.card-body h1 {
        font-size: 2.5rem;
    
        margin-bottom: 20px;
    }   

.think-text {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1;
    color: #2d3748;
    background-color: #f7fafc;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.think-text strong {
    color: #1a202c;
    margin-right: 5px;
}

.row.align-items-center {
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .think-text {
        font-size: 0.7rem;
    }
}