<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Danger Center
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








     <!-- Page body -->
 <div class="page-body">
    <div class="container-xl">

        <div class="col-lg-12">
        <div class="card fade-in">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-6 col-lg-6 ">
                <img src="../../../../assets/static/illustrations/Stress_module1.svg" alt="Danger1" class="rounded fade-in">
                
              </div>
              <div class="col">
                
                      <h2 style="font-size: 1.5rem;
                      margin-bottom: 20px;">Some tips for dealing with stress</h2>
                  
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fade-in-3s">
                    <p class="think-text"><strong>Spiritual & religious practices: </strong> Spiritual and religious practices can help with your stress levels.</p>
                    <p class="think-text"><strong>Imagery: </strong> You can also reduce stress with the help of imagining beautiful places and pleasant events and things.</p>
                    <p class="think-text"><strong>Massage: </strong> It is common in our culture for people to get a head and neck massage. It can help with stress and anxiety .</p>
                    <p class="think-text"><strong>Distraction: </strong> Talking to someone, religious activities (for example, saying your prayers, reciting Quran or using beads), reading, watching TV, listening to the radio and physical activities.</p>
                    <p class="think-text"><strong>Change in lifestyle:  </strong> a healthy lifestyle and regular exercise help. Being very competitive, pessimistic, controlling, perfectionism, narcissism can all lead to stress, anxiety & depression.</p>                </div>            
                </div>
              
            </div>
          </div>
        </div>
      </div>
    



<br>

    <div class="row row-cards">
        
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <ul class="pagination ">
                <li class="page-item page-prev">
                  <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                    <div class="page-item-subtitle">previous</div>
                    <div class="page-item-title">Resources</div>
                  </a>
                </li>
                <li class="page-item page-next">
                 <!--  <a class="page-link"  [routerLink]="''">
                    <div class="page-item-subtitle">next</div>
                    <div class="page-item-title">End Module</div>
                  </a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
