<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.Danger-Centre' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>
                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img-d [src]="'/Stress_module1.svg'" [alt]="'Danger1'" [class]="'rounded fade-in'"></img-d>

                            </div>
                            <div class="col" #textToSpeech>
                                <app-text-to-speech [html]="html" *ngIf="isShow"></app-text-to-speech>
                                <br>
                                <br>

                                <h2 style="font-size: 1.5rem;
                      margin-bottom: 20px;">{{ 'usefulltips.heading' | translate }} <span style="display: none;">.</span></h2>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fade-in-3s">
                                    <p class="think-text" [innerHTML]="'usefulltips.paragraph1' | translate"></p>
                                    <p class="think-text" [innerHTML]="'usefulltips.paragraph2' | translate"></p>
                                    <p class="think-text" [innerHTML]="'usefulltips.paragraph3' | translate"></p>
                                    <p class="think-text" [innerHTML]="'usefulltips.paragraph4' | translate"></p>
                                    <p class="think-text" [innerHTML]="'usefulltips.paragraph5' | translate"></p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <ul class="pagination justify-content-end">
                        <!-- <li class="page-item page-prev">
              <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                </a>
            </li> -->
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../2'">

                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>
                            </a>
                        </li>
                    </ul>


                </div>
            </div>




            <br>

            <!--  <div class="row row-cards">
        
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <ul class="pagination ">
                <li class="page-item page-prev">
                  <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                    <div class="page-item-subtitle">previous</div>
                    <div class="page-item-title">Resources</div>
                  </a>
                </li>
                <li class="page-item page-next">
                  <a class="page-link"  [routerLink]="''">
                    <div class="page-item-subtitle">next</div>
                    <div class="page-item-title">End Module</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->



        </div>
    </div>