<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.examine-thoughts' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <img src="../../../../assets/static/illustrations/examine4.svg" alt=""
                                    class="rounded img-fluid">
                            </div>
                            <div class="col">
                                <h1>{{ 'thought_4b.heading1' | translate }}</h1>
                                <p>{{ 'thought_4b.subheading' | translate }}</p>
                                <div class="list-group">
                                    <div class="list-group-item" *ngFor="let item of emotions">{{item}}</div>
                                    
                                </div>
                                <p>{{ 'thought_4b.para2' | translate }}
                                </p>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Enter emotions here"
                                        id="other-emotions" [(ngModel)]="emotion"></textarea>
                                    <label for="other-emotions">Other Emotions</label>
                                </div>
                                <button class="btn btn-primary" id="add-emotion-btn" (click)="addEmotion()">Add emotion</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <br>
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../examine3'" tabindex="-1">
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Emotions</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine5'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Thought Control</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.querySelectorAll('.list-group-item').forEach(item => {
            item.addEventListener('click', event => {
                const imgId = item.dataset.image;
                const imgElement = document.getElementById(imgId);
                if (imgElement) {
                    imgElement.classList.toggle('highlighted');
                }
            });
        });
    </script>