<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Problem Solving
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6 ">
                                <img src="../../../../assets/static/illustrations/problemsolving5.svg" alt="" class="rounded">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2.5rem;
                                    margin-bottom: 20px;">
                                    
                                    Break down this solution into as many steps as possible</h1>
                                    <p>
                                        Now it is the time to execute the solution. To do this, it is vital that every part is considered carefully. Breaking down the solution in small, doable step can be helpful. Write down as many small steps as possible, even if they look ridiculous. You might realize that you need more information or even might have to go back and rethink another solution. You can also do “mind rehearsal”- i.e., going through the whole process in imagination.</p>                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../compare'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Compare</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../execute'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Execution</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>