
     <!-- Page body -->
     <div class="page-body">
        <div class="container-xl">
    
        <div class="col-lg-12">
              <div class="card fade-in">
                
                <div class="card-body">
                    <h1 class="text-center" style="font-size: 2.5rem;
                    margin-bottom: 20px;">{{"index.Downloads" | translate}}</h1>
                    <br>
                    <p class="text-center">{{"index.Downloads-heading" | translate}}</p>
                    <br>
    
                    <div class="row row-cards justify-content-center">
                        


                         
                            
                       
                          
                          
    
                          <div class="col-md-6 col-lg-3">
                          
                            <a href="https://www.camh.ca/-/media/files/cacbt-for-south-asians-public-info-eng.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">English</div>
                              
                                
                            </div>
                            </a>
                          </div>

                          

                          <div class="col-md-6 col-lg-3">
                          
                            <a href="https://www.camh.ca/-/media/files/camh_22-313_infosheets_public_ur_v2_final.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Urdu</div>
                              
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                          
                            <a href="https://www.camh.ca/-/media/files/camh_22-313_infosheets_public_hi_v2_final.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Hindi</div>
                              
                                
                            </div>
                            </a>
                          </div>


                          <div class="col-md-6 col-lg-3">
                          
                            <a href="https://www.camh.ca/-/media/files/camh_22-313_infosheets_public_pa_v2_final.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Punjabi (Gurmukhi)</div>
                              
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                          
                            <a href="https://www.camh.ca/-/media/files/camh_22-313_infosheets_public_bn_v2_final.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Bengali</div>
                              
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                          
                            <a href="https://www.camh.ca/-/media/files/camh_22-313_infosheets_public_gu_v2_final.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Gujrati</div>
                              
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                          
                            <a href="https://www.camh.ca/-/media/files/camh_22-313_infosheets_public_ta_v1_final.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Tamil</div>
                              
                                
                            </div>
                            </a>
                          </div>
                      

                      </div>
                  <br>
                  <br>
                      
                      <p class="text-center"><mark>{{"index.Downloads-heading3" | translate}}</mark></p>
                      <br>


                  <!--   <div class="row row-cards justify-content-center">
                        


                         
                            
                       
                          
                          
    
                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/stress.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.stress" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/fightandflight.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.fight" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/examinethoughts.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.examine-thoughts" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>
                          

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/thoughtmistakes.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.thought-mistakes" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/challengethoughts.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.Challengethoughts" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/balancedthoughts.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.balanced-thoughts" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/problemsolvings.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.problem-solving" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/balancedactivities.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.balanced-activities" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/relationships.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.relationship" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="assets/handouts/stayingwell.pdf" target="_blank" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">{{"index.staying-well" | translate}}</div>
                               
                                
                            </div>
                            </a>
                          </div>
                          
                    </div> -->



                    <prev-next-button  [next]="''" ></prev-next-button>
                    <!-- <ul class="pagination justify-content-end">
                     
                      <li class=" page-next">
                          <a class="page-link" [routerLink]="''">
                             
                              <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>                
                          </a>
                      </li>
                  </ul> -->
                </div>
              </div>
            </div>
        
    
    
    
    <br>
    
        <!-- <div class="row row-cards">
            
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <ul class="pagination ">
                    <li class="page-item page-prev">
                     
                    </li>
                    <li class="page-item page-next">
                      <a class="page-link"  [routerLink]="''">
                        <div class="page-item-subtitle">next</div>
                        <div class="page-item-title">Go to the Dashboard</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
      </div>
    </div>
    