
     <!-- Page body -->
     <div class="page-body">
        <div class="container-xl">
    
        <div class="col-lg-12">
              <div class="card fade-in">
                
                <div class="card-body">
                    <h1 class="text-center" style="font-size: 2.5rem;
                    margin-bottom: 20px;">Download Resources</h1>
                    <br>
                    <p class="text-center">Download PDFs for the following topics:</p>
                    <br>
    
                    <div class="row row-cards justify-content-center">
                        


                         
                            
                       
                          
                          
    
                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Stress</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Fight and Flight</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Examine Thoughts</div>
                               
                                
                            </div>
                            </a>
                          </div>
                          

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Thought Mistakes</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Challenge Thoughts</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Balanced Thoughts</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Problem Solving</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Balanced Activities</div>
                               
                                
                            </div>
                            </a>
                          </div>

                          <div class="col-md-6 col-lg-3">
                            <a href="#" class="card card-link">
                              <div class="card-body text-center">
                                <span class="" >
                                    <i class="ti ti-download" style="font-size: 4em; color: #5190B7;"></i>
                                </span>                              
                            </div>
                            <div class="card-body text-center">
                                <div class="card-title mb-1">Relationships</div>
                               
                                
                            </div>
                            </a>
                          </div>
                          
                    </div>
                  
                </div>
              </div>
            </div>
        
    
    
    
    <br>
    
        <div class="row row-cards">
            
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <ul class="pagination ">
                    <li class="page-item page-prev">
                      <!-- <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                        <div class="page-item-subtitle">previous</div>
                        <div class="page-item-title">Resources</div>
                      </a> -->
                    </li>
                    <li class="page-item page-next">
                      <a class="page-link"  [routerLink]="''">
                        <div class="page-item-subtitle">next</div>
                        <div class="page-item-title">Go to the Dashboard</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    