/* You can add global styles to this file, and also import other style files */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.card-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.card-body h1 {
    font-size: 2.5rem;

    margin-bottom: 20px;
}


.rounded {
    border-radius: 10px;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}


.diary-entry {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.diary-entry-heading {
    margin-bottom: 10px;
    border-bottom: 2px solid #6c757d;
    display: inline-block;
}

.diary-entry-heading h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #6c757d;
}

.card-body h1 {
    font-size: 2.5rem;

    margin-bottom: 20px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  

  .fade-in-2s {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  
  .fade-in-3s {
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
  }
  
  


  .fade-in li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInListItem 1s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  
  @keyframes fadeInListItem {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  