<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">

                        {{ 'index.balanced-activities' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">

                        <h1 class="text-center" style="font-size: 2rem;
                        margin-bottom: 20px;">{{ 'balanced_activities_6.heading' | translate }}<span style="display: none;">.</span></h1>
                        <br>

                        <div class="row row-cards justify-content-center">









                            <div class="col-md-6 col-lg-3">
                                <a [routerLink]="'../creative'" class="card card-link">
                                    <div class="card-body text-center">
                                        <span class="">
                                    <img-d [src]="'balanced-creative1.svg'" [alt]="''" [height]="'220'" [class]="'rounded'"></img-d>
                                  </span>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="card-title mb-1">{{ 'balanced_activities_6.creative-activities' | translate }}</div>


                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-3">
                                <a [routerLink]="'../recreational'" class="card card-link">
                                    <div class="card-body text-center">
                                        <span class="">
                                    <img-d [src]="'balanced-recreat1.svg'" [alt]="''" [height]="'220'" [class]="'rounded'"></img-d>
                                  </span>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="card-title mb-1">{{ 'balanced_activities_6.recreational-activities' | translate }}</div>


                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-3">
                                <a [routerLink]="'../workrelated'" class="card card-link">
                                    <div class="card-body text-center">
                                        <span class="">
                                    <img-d [src]="'balanced-work1.svg'" [alt]="''" [height]="'220'" [class]="'rounded'"></img-d>
                                  </span>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="card-title mb-1">{{ 'balanced_activities_6.work-related-activities' | translate }}</div>


                                    </div>
                                </a>
                            </div>


                            <div class="col-md-6 col-lg-3">
                                <a [routerLink]="'../socialandspiritual'" class="card card-link">
                                    <div class="card-body text-center">
                                        <span class="">
                                    <img-d [src]="'balanced-social1.svg'" [alt]="''" [height]="'220'" [class]="'rounded'"></img-d>
                                  </span>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="card-title mb-1">{{ 'balanced_activities_6.social-spritual-activities' | translate }}</div>


                                    </div>
                                </a>
                            </div>








                        </div>
                        <br><br>
                        <prev-next-button [prev]="'../firststep'" [next]="'../end'"></prev-next-button>

                        <!--   <ul class="pagination justify-content-end">
                            <li class=" page-prev ">
                                <a class="page-link" [routerLink]="'../firststep'">
                                    <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                                </a>
                            </li>
                            <li class=" page-next">
                                <a class="page-link" [routerLink]="'../end'">
                                   
                                    <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                                </a>
                            </li>
                        </ul> -->

                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="pagination ">
                                <li class="page-item page-prev ">
                                    <a class="page-link" [routerLink]="'../intro'" tabindex="-1" >
                                        <div class="page-item-subtitle">previous </div>
                                        <div class="page-item-title">Problem solving</div>
                                    </a>
                                </li>
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../solutions'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Solutions</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>