<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ 'index.Danger-Centre' | translate }}
                    </h2>
                    <div class="page-pretitle">
                        {{ 'index.Module' | translate }}
                    </div>
                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">

                    <div class="card-body" #textToSpeech>

                        <app-text-to-speech [html]="html" *ngIf="isShow" class="text-center"></app-text-to-speech>
                        <br>
                        <br>
                        <h1 class="text-center" style="font-size: 2.5rem;
                margin-bottom: 20px;"> {{ 'index.RelaxationExcercises' | translate }}<span style="display: none;">.</span></h1>
                        <br>
                        <p class="text-center">{{'index.r_para' | translate}}</p>
                        <br>

                        <div class="row row-cards justify-content-center">
                            <div class="col-md-6 col-lg-3">
                                <a href="#" class="card card-link">
                                    <div class="card-body">
                                        <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/214526263&amp;color=%23fff300&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"
                                            data-dashlane-frameid="145"></iframe>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-3">
                                <a href="#" class="card card-link">
                                    <div class="card-body">
                                        <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/214526852&amp;color=%23fff300&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"
                                            data-dashlane-frameid="151"></iframe>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-3">
                                <a href="#" class="card card-link">
                                    <div class="card-body">
                                        <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/214526263&amp;color=%23fff300&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"
                                            data-dashlane-frameid="145"></iframe>
                                    </div>
                                </a>
                            </div>


                        </div>

                    </div>

                    <ul class="pagination justify-content-end">
                        <!-- <li class="page-item page-prev">
                <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                      <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                  </a>
              </li> -->
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../2'">

                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>




            <br>

            <!-- <div class="row row-cards">
        
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <ul class="pagination ">
                <li class="page-item page-prev">
                  <a class="page-link" [routerLink]="'../2'" tabindex="-1" aria-disabled="true">
                    <div class="page-item-subtitle">previous</div>
                    <div class="page-item-title">Resources</div>
                  </a>
                </li>
                <li class="page-item page-next">
                  <a class="page-link"  [routerLink]="''">
                    <div class="page-item-subtitle">next</div>
                    <div class="page-item-title">End Module</div>
                  </a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->




        </div>
    </div>