<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Relationships
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            
                            <h1 style="font-size: 2.5rem;
                            margin-bottom: 20px; text-align: center;">Dealing with conflicts</h1>
                            <br><br><br>
                            <div class="col-sm-12 col-md-5 col-lg-5 ">
                                <img src="../../../../assets/static/illustrations/relation1.svg" alt="thought,emotions" class="rounded fade-in">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 1.5rem;
                                margin-bottom: 20px;">Communication styles that cause conflicts</h1>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fade-in-3s">
                                    <p class="think-text"><strong>Extreme statements:</strong> "It just must be done according to my will," "He always misbehaves with me," "He never agrees with me," and "You are all the same."</p>
                                    <p class="think-text"><strong>Fortune teller's mistake:</strong> "Whatever I do, he will never listen to me" and "She will not agree with me because she doesn't like me."</p>
                                    <p class="think-text"><strong>Emotional arguments:</strong> "I know he will do this," "You have a point, but I am not going to change my decision."</p>
                                    <p class="think-text"><strong>Mixing positive with negative:</strong> You combine the positive with negative, e.g., saying to your wife "You are beautiful, but you don't know how to dress."</p>
                                    <p class="think-text"><strong>Personal rules/principles:</strong> "Everyone should agree with me," "They should respect me & obey my rules."</p>
                                </div>

                            </div>

                        </div>
                    </div>


                    <ul class="pagination justify-content-end">
                        <li class=" page-prev ">
                            <a class="page-link" [routerLink]="'../brokentape'">
                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                            </a>
                        </li>
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../goldenrule1'">
                               
                                <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                            </a>
                        </li>
                    </ul>

                </div>


                
            </div>
            <br>


          <!--   <div class="row row-cards">

                <div class="col-12">
                    <div class="card ">
                        <div class="card-body">
                            <ul class="pagination ">
                                
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine2'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Thoughts</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
 -->

        </div>
    </div>