<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        Relationships
                    </h2>
                    <div class="page-pretitle">
                        Module
                    </div>

                </div>
                <!-- Page title actions -->

            </div>
        </div>
    </div>








    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">

            <div class="col-lg-12">
                <div class="card fade-in">
                    <div class="card-body">
                        <div class="row align-items-center">
                            
                            <h1 style="font-size: 2.5rem;
                            margin-bottom: 20px; text-align: center;">Unhealthy patterns of communication</h1>

                            <div class="col-sm-12 col-md-5 col-lg-5 ">
                                <img src="../../../../assets/static/illustrations/examine1.jpg" alt="thought,emotions" class="rounded fade-in">
                            </div>
                            <div class="col">

                                <h1 style="font-size: 2rem;
                                margin-bottom: 20px;">Passive people</h1>

                                <p>Passiveness, otherwise known as submissiveness is opposite to aggression. The passive people usually don't express their feelings. They don't tell others what they want. They are unable to express their anger and bottle up their feelings. While passiveness is different to being shy or quiet, shy or quiet individuals are often passive. Passive individuals avoid conflict by remaining quiet as they avoid expressing their point of view. A failure to express their point of view occurs outside of conflict – it is frequent in conversations and social interactions. A failure to express their point of view happens outside of conflict – it is frequent in conversations and social interactions. When they are asked what they’d like, where they want to go, or what they want to do, they passively respond: “I’m happy with whatever you want”. In fact, they are never happy.</p>
                            </div>

                        </div>
                    </div>


                    <ul class="pagination justify-content-end">
                        <li class=" page-prev ">
                            <a class="page-link" [routerLink]="'../aggressive'">
                                <i class="ti ti-circle-arrow-left-filled" style="font-size: 5em; color: #5190B7;"></i>       
                            </a>
                        </li>
                        <li class=" page-next">
                            <a class="page-link" [routerLink]="'../manipulative'">
                               
                                <i class="ti ti-circle-arrow-right-filled" style="font-size: 5em; color: #5190B7;"></i>                
                            </a>
                        </li>
                    </ul>

                </div>


                
            </div>
            <br>


          <!--   <div class="row row-cards">

                <div class="col-12">
                    <div class="card ">
                        <div class="card-body">
                            <ul class="pagination ">
                                
                                <li class="page-item page-next">
                                    <a class="page-link" [routerLink]="'../examine2'">
                                        <div class="page-item-subtitle">next</div>
                                        <div class="page-item-title">Thoughts</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
 -->

        </div>
    </div>